*{margin: 0%;
    padding: 0%;
    font-family: 'Andika';
    color: #ffffff;
    font-weight: 100;
}
body{background-color: #212b38f6}
header{display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E43F5A;
    padding: 1% 2%;
}
header h2{font-size: 130%;}
.chat{background-color: #37465b;
    display: grid;
    margin: 1% 2%;
    padding: 0% 2%;
}
#chat_window{background-color: #1F4068;
    height: 625px;
    overflow: auto;
    border: rgba(245, 245, 245, 0.726) 1px solid;
    overflow-x: hidden;
}
.send,#hed{font-size: 110%;
    display: flex;
    justify-content: center;
    padding: 1.5%;
}
#messaje{min-width: 100px;
    max-width: 850px;
    margin: 0.7% 1.8%;
    display: inline-block;
    transform: scale(0.9);
    transition-property: all;
    transition-duration: 300ms;
}
.u_name{font-size: 110%;
    color: #d8324e;
}
.u_messaje{font-weight: 300;
    background-color: #112d3f;
    border-radius: 15px;
    font-size: 100%;
    padding: 8px;
}
.sender{height: 45px;
    width: 100%;
    background-color: #1F4068;
    border-radius: 40px;
    display: flex;
    align-items: center;
}
input,button{font-size: 110%;
    outline: none;
    background-color: transparent;
    border: none;
    height: 100%;
}
input{padding: 2%;
    width: 93%;
}
input::placeholder{color: rgba(245, 245, 245, 0.726);}
button{display: flex;
    justify-content: center;
    align-items: center;
    width: 7%;
}
img{border-radius: 20px 0 0 20px;
    width: 100%;
    height: 100%;
    transform: rotatey(180deg);
}
@media screen and (max-width: 768px){.u_messaje{max-width: 305px;}
#messaje{margin: 2%;}
#chat_window{height: 575px;}
input{width: 85%;}
button{width: 15%;}
.send{padding: 3% 1%;}}